<div id="footer">
	<div id="faq">
		<a href="">F.A.Q</a>
		<a href="">Forum</a>
		<a href="">Une question ?</a>
	</div>
	<div id="reso">
		<a href="">Résaux</a>
		<a href="">Armstramgram</a>
		<a href="">twittos/X</a>
		<a href="">ToukTouk</a>
	</div>
	<div id="mentions">
		<a href="">Mentions Légales</a>
		<a href="">Qui sommes nous</a>
	</div>
    <div>
	<a href="">outil surprise</a>
    </div>
</div>

<script src="{{asset("assets/js/structure.js")}}">
</div>
