{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<div id="containerhome">
		<div id="HK" class="presentationbox">
			<img src="{{asset('assets/imguti/knightabysse.png')}}" alt="Hollow knight">
			<div class="imgtext">
				<h3>HOLLOW KNIGHT</h3>
				<p>Forge your own path in Hollow Knight! An epic action adventure through a vast ruined kingdom of insects and heroes. Explore twisting caverns,  battle tainted creatures and befriend bizarre bugs, all in a classic,  hand-drawn 2D style.</p>
			</div>
		</div>
		<div id="SS" class="presentationbox">
			<img src="{{asset('assets/imguti/hornetmarrow.webp')}}" alt="SilkSong">
			<div class="imgtext">
				<h3>SILKSONG</h3>
				<p>Discover a vast, haunted kingdom in Hollow Knight: Silksong! The sequel  to the award winning action-adventure. Explore, fight and survive as you ascend to the peak of a land ruled by silk and song.</p>
			</div>
		</div>
	</div>
{% endblock %}
