* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* header */
/* header */
/* header */
/* header */
/* header */
/* header */
/* header */
/* header */
/* header */

header {
    background-color: rgba(0, 0, 0, 0.726);
    width: 90%;
    margin: auto;
}
#ltu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#ltu h1 {
    margin-top: 20px;
    margin-right: 35px;
    font-size: 270%;
}
#ltu div img {
    height: 100px;
    width: 100px;
    margin-left: 30px;
}
#coninsc {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 2px solid black;
    margin-right: 20px;
    margin-top: 10px;
}
#coninsc a {
    padding: 10px;
    text-decoration: none;
    font-size: 110%;
    color: black;
}
#coninsc a:hover {
    text-decoration: underline;
}

nav {
    margin: 10px auto 10px auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    width: 60%;
    padding-bottom: 7px;
}
nav a button {
    background-color: white;
    border: 2px solid black;
    padding: 5px;
    border-radius: 5px;
    font-size: 110%;
    width: 100px;
    transition: all 0.3s ease-in-out;
}
nav a button:hover {
    background-color: black;
    border: 2px solid white;
    color: white;
}

/* FOOTER */
/* FOOTER */
/* FOOTER */
/* FOOTER */
/* FOOTER */
/* FOOTER */
/* FOOTER */

#footer {
    background-color: rgba(0, 0, 0, 0.726);
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
#footer div {
    display: flex;
    flex-direction: column;
}
#footer div a {
    margin: 7px auto 4px auto;
    /* background-color: white; */
    border-radius: 5px;
    width: 100px;
    text-decoration: none;
    color: rgb(158, 153, 153);
    text-align: center;
}
#footer div a:hover {
  text-decoration: underline;
}


/* HOME PAGE */
/* HOME PAGE */
/* HOME PAGE */
/* HOME PAGE */
/* HOME PAGE */
/* HOME PAGE */
/* HOME PAGE */
#containerhome {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    margin: auto;
    margin-top: 75px;
    margin-bottom: 60px;
}

.presentationbox img {
    width: 700px;
    height: 475px;
    position: relative;
    border-radius: 4%;
}
.imgtext {
    position: absolute;
    width: 500px;
    bottom: 32%;
}
.imgtext h3 {
    position: absolute;
    bottom: 312px;
    color: rgb(255, 255, 255);
    left: 190px;
    font-size: 30px;
}
#SS .imgtext h3 {
    left: 222px;
}
.imgtext p {
    position: absolute;
    margin: auto;
    width: 90%;
    color: rgb(245, 245, 245);
    font-size: 20px;
    left: 95px;
    bottom: 0.2px;
    opacity: 0;
    transition: opacity 0.7s ease-in-out;
}
.presentationbox:hover p {
    opacity: 1;
}
