*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: rgba(0, 0, 0, 0.726);
    width: 90%;
    margin: 5px auto 0 auto;
    
}
#ltu{
display: flex;
flex-direction: row;
justify-content:space-between;
}
#logoh1{
display: flex;
flex-direction: row;
justify-content: space-between;
width: 52%;
}
#ltu div h1{
margin-top: 25px;
}
#ltu div img{
height: 100px;
width: 100px;
margin-left: 50px;
}
#coninsc{
    display: flex;
    flex-direction: column;
  background-color: white;
    border: 2px solid black;
    margin-right: 10px;
    margin-top: 10px;
}
#coninsc a {
    padding: 10px;
    text-decoration: none;
    font-size: 110%;
    color: black;
}
#coninsc a:hover {
text-decoration: underline;
}