* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: rgba(0, 0, 0, 0.726);
    width: 90%;
    margin: 5px auto 0 auto;
}
#ltu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#ltu  h1 {
    margin-top: 20px;
    margin-right: 35px;
}
#ltu div img {
    height: 100px;
    width: 100px;
    margin-left: 30px;
}
#coninsc {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 2px solid black;
    margin-right: 20px;
    margin-top: 10px;
}
#coninsc a {
    padding: 10px;
    text-decoration: none;
    font-size: 110%;
    color: black;
}
#coninsc a:hover {
    text-decoration: underline;
}
nav {
    margin: 10px auto 10px auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    width: 60%;
    padding-bottom: 7px;
}
nav a button {
    background-color: white;
    border: 2px solid black;
    padding: 5px;
    border-radius: 5px;
    font-size: 110%;
    width: 100px;
}

